.movie {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.movie__intro {
    width: 100%;
}

.movie__backdrop {
    width: 100%;
    height: 500px;
    object-fit:cover;
    object-position: 0 35%;
    /* border-radius: 10px; */
    max-height: 500px;
}

.movie__detail {
    align-items: center;
    width: 75%;
    display: flex;
    position: relative;
    bottom: 150px;
}

.movie__detailLeft {
    margin-right: 30px;
}

.movie__poster {
    width:250px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.86) 0px 22px 40px 6px;
    position: relative;
    bottom: 120px;
}

.movie__detailRight {
    /* color: white; */
    display: flex;
    flex-direction: column;
    height: 450px;
    justify-content:space-between ;
    margin-top: 40px;
}
.movie__detailRightTop{
    margin-top: 120px;
}

.movie__detailRightTop > div{
    /* color: white;
    text-shadow: 0px 0px 2px #000000; */
    margin-bottom: .8rem;
}

.movie__name {
    /* color: white;
    text-shadow: 0px 0px 2px #000000; */
    font-weight: 600;
    font-size: 3rem;
    /* text-decoration: underline; */
}

.movie__tagline{
    font-style: italic;
}

.movie__voteCount {
    margin-left: 1rem;
}

.movie__genres {
    margin: 1.25rem 0;
}

.movie__genre {
    padding: .5rem;
    border: 2px solid;
    border-radius: 20px;
    margin-right: 1rem;
}


.movie__detailRightBottom {
    margin: 2rem 0;
    flex: 0.8;
}

.synopsisText {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    font-weight: 600;
    display: flex;
    position: relative;
    align-items: center;
}
.synopsisText > div:last-of-type {
    margin-left: auto;
}

.movie__links {
    /* position: relative;
    bottom: 120px; */
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.movie__heading {
    font-size: 2.2rem;
    font-style: italic;
    align-self: flex-start;
    margin-left: 12%;
    text-decoration: underline;
}

.movie__Button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 2rem;
    border-radius: 20px;
    cursor: pointer;
    width: 150px;
    color: black;
    font-weight: bold;
}

.movie__homeButton {
    background-color:rgb(255, 0, 0);
    
}

.movie__imdbButton {
    background-color:#f3ce13;
}

.newTab {
    margin-left: 1.4rem;
}

.production__heading {
    font-size: 2.2rem;
    align-self: flex-start;
    margin-left: 12%;
    font-style: italic;
    text-decoration: underline;
}


.movie__production {
    width: 85%;
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 4rem;
    overflow-x: scroll;
    overflow-y: hidden;
    max-width: 1000px;
    padding: 20px;
    &::-webkit-scrollbar {
        width: 5px;
      }
      
    &::-webkit-scrollbar-track {
        background: #1f456e;
      }
      
    &::-webkit-scrollbar-thumb {
        background: #c5c6d0;
        border: 2px solid #1f456e;
        border-radius: 5px;
      }
}


.movie__productionComapany {
    width: 200px;
    margin: 2rem;
}

.productionCompanyImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.watchlistAdd{
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border:none;
    background-color: rgb(31, 31, 71);
    color: white;
    &:hover{
        background-color: rgb(68, 68, 99)
    }
}


@media all and (max-width:650px){
    .movie__production {
        display: none;
    }
    .movie__heading{
        display: none;
    }
    .movie__links{
        display: none;
    }
    .movie__detail {
        align-items: center;
        width: 75%;
        display: flex;
        flex-direction: column;
        position: relative;
        bottom: 255px;
    }
    .movie__genre {
        display: flex;
        width: fit-content;
        border: 2px solid rgb(0, 0, 0);
    }
    .movie__detailRightTop > div{
        color: rgb(0, 0, 0);
        text-shadow: 0px 0px 0px #000000;
        margin-bottom: .5rem;
    }
    
    
}